* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, rgba(142,65,251,0.43) 50%, rgba(213, 52, 235, 0.473) 60%), url("/Projects/Html&Css/FreeCodeCamp/ResponsiveWebDesign/img/survey-form-background.jpeg") ;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100vh; */
  height: auto;
}
/* Css for Contatiner containing Form */
#container {
  /* margin: 5% 23% 0% 23% ; */
  max-width: 55%;
  margin: auto;
  margin: 3.125rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Css for title & sub-heading */
#head {
  text-align: center;
  color: white;
}
#head h1 {
  margin-bottom: 1vh;
  font-size: 2.5rem ;
}
#head p {
  color: #C8C8DB;
  margin-top: 0vh;
  font-size: 1.3rem;
}
form {
  background-color: #252444cb;
  padding: 5vw;
  border-radius: 5px;
  margin: 0;
}

input[placeholder],textarea[placeholder] {
  font-size: 1rem;
  font-weight: lightgray;
  color: #C8C8DB;
}
option[value] {
  color: black;
}
/* Input type text/email/number/dropdown1/dropdown css */

input[type="text"],input[type="email"],input[type="number"],#dropdown,#dropdown1,textarea,input[type="submit"]{
  width: 100%;
  padding: 0.5rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 0.3rem; 
  border-color: rgba(255, 255, 255, 0);
}
#dropdown option,#dropdown1 option{
  color: #67676d;
  font-size: 1rem;
}
/* Css for input type="radio" */
input[type="radio"] {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
form label,input[type="checkbox"],input[type="radio"] {
  color: #eeeef5;
  font-size: 1.4rem;
}
/* css of option1 div- to give top margin*/
#op{
  margin-top: 1.2rem;
}
input[type="checkbox"] {
  margin: 0.6rem 0;
}
/* top margin for text-area */
#c10 {
  margin-bottom: 3rem;
}
textarea{
  margin-top: 0.5rem;
}
input[type="submit"] {
  background-color: #37AF65;
  padding: 0.8rem;
  font-size: 1.2rem;
  color: white;
}

@media Only screen and  (max-width: 763px) {
  #container {
    max-width: 80%;
    }
}
@media Only screen and  (max-width: 567px) {
  #container {
  max-width: 100%;
  }
}
